.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

@media (max-width: 768px) {
  .main {
    font-size: 1rem;
  }

  .button {
    padding: 0.4rem 0.8rem;
    font-size: 1rem;
  }
}